*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor
config/global.yml
certs/certificate.pem
db/isn.db

# YARD artifacts
.yardoc
_yardoc
doc/
